<button
  type="button"
  role="combobox"
  aria-controls="dropdown"
  [class]="triggerClasses()"
  [disabled]="zDisabled()"
  [attr.aria-expanded]="isOpen()"
  [attr.aria-haspopup]="'listbox'"
  [attr.data-placeholder]="!zValue() ? '' : null"
  (blur)="!isOpen() && isFocus.set(false)"
  (click)="toggle()"
  (focus)="onFocus()"
>
  <span class="flex min-w-0 flex-1 flex-wrap items-center gap-2">
    @for (label of selectedLabels(); track label) {
      @if (zMultiple()) {
        <z-badge zType="secondary">
          <span class="truncate">{{ label }}</span>
        </z-badge>
      } @else {
        <span class="truncate">{{ label }}</span>
      }
    } @empty {
      <span class="text-muted-foreground truncate">{{ zPlaceholder() }}</span>
    }
  </span>
  <z-icon zType="chevron-down" zSize="lg" class="opacity-50" />
</button>

<ng-template #dropdownTemplate>
  <div
    id="dropdown"
    [class]="contentClasses()"
    role="listbox"
    [attr.data-state]="'open'"
    (keydown)="onDropdownKeydown($event)"
    tabindex="-1"
  >
    <div class="p-1">
      <ng-content />
    </div>
  </div>
</ng-template>
